<div class="container mt-5">
    <div class="row">

        <section class="col-3">
            <ng-container *ngIf="brands && productTypes">
                <h5 class="text-warning ml-3">Sort</h5>
                <select class="custom-select my-3" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sortOption of sortOptions" [value]="sortOption.value">
                        {{sortOption.name}}
                    </option>
                </select>
                <h5 class="text-warning ml-3">Brands</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" *ngFor="let brand of brands"
                        [class.active]="brand.id === shopParams.brandId" (click)="onBrandSelected(brand.id)"
                        style="cursor: pointer;">
                        {{brand.name}}
                    </li>
                </ul>
                <h5 class="text-warning ml-3">Types</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" *ngFor="let productType of productTypes"
                        [class.active]="productType.id === shopParams.typeId" (click)="onTypeSelected(productType.id)"
                        style="cursor: pointer;">
                        {{productType.name}}
                    </li>
                </ul>
            </ng-container>
        </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb2" *ngIf="products">
                <app-pagination-header [pagination]="pagination"></app-pagination-header>
                <div class="form-inline mt-2">
                    <input (keyup.enter)="onSearch()" type="text" #search class="form-control mr-2" style="width: 300px"
                        placeholder="Search">
                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                    <button (click)="onReset()" class="btn btn-outline-success my-2 ml-2">Reset</button>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mb-4" *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
            <app-paginator [pagination]="pagination" (pageIndexChanged)="onPageIndexChanged($event)"></app-paginator>
        </section>
    </div>
</div>